.code-block{
	padding: 20px;
	max-height: 300px;
	overflow: auto;
	word-break: normal !important;
	word-wrap: normal !important;
	white-space: pre !important;
	background: #191919;
	color: #6b695a;
}

.rotate-cw-90{
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg); 
	transform: rotate(90deg);
	display: inline-block;
	margin-right: 5px;
	color: hsl(80, 80%, 40%);
}

.sms-font-preview {
	line-height: 1 !important;
	font-family: "Open Sans";
}
.sms-font-preview p{
	margin-bottom: 0;
	padding-bottom: 20px;
	padding-top: 20px;
	line-height: 1;
	border-bottom: solid 1px #ccc;
}
.sms-font-preview strong{
	line-height: 1;
}
.sms-font-preview span{
	font-size: 16px;
	min-width: 150px;
	border-radius: 10px;
	padding: 5px;
	display: inline-block;
	line-height: 1.25;
	background: rgba(0,0,0,.6);
	color: #fff;
	text-align: center;
	margin-right: 30px;
}
.token-block{
	display: inline-block; 
	margin-bottom: 5px;
}
.repeater-token{
	background: hsl(80, 60%, 80%);
}
.admin-color-fresh #redux-sms_redux-metabox-01-generator-fields{
	border: solid 5px hsl(80, 80%, 40%);
}
.admin-color-fresh #redux-sms_redux-metabox-01-generator-fields + #redux-sms_redux-metabox-02-generator-repeater-fields{
	border: solid 5px hsl(80, 80%, 40%);
	border-top: none;
	margin-top: -25px;
}
.admin-color-fresh #poststuff #redux-sms_redux-metabox-02-generator-repeater-fields h3.redux-hndle{
	background: hsl(80, 80%, 40%) !important;
	/*color: hsl(80, 80%, 10%);*/
	color: #fff;
	/*border: #f50 5px solid;*/
}