.sms-blog-nav{
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding: 0 0 5px 0;
  margin-bottom: 15px !important;
  padding-bottom: 20px;
  li{
    margin-right: 12px !important; 
    opacity: .5;
    font-size: @font-size-medium;
  }
  a {
    color: inherit; 
  }
  .ui-state-active,
  .ui-state-hover{
    opacity: 1;
  }
}