.section-textbox {

	.pl-section-pad{
	
		.textbox-wrap p:last-child{
			margin-bottom: 0;
		}
		.textbox-wrap p:first-child{
			margin-top: 0;
		}

		// No padding top on .textbox-wrap
		&.npt {
			padding-top:0;
		}

		// No padding bottom on .textbox-wrap
		&.npb {
			.pl-section-pad .textbox-wrap{
				padding-bottom:0;
			}
		}

		// No padding on .textbox-wrap
		&.np {
			.pl-section-pad .textbox-wrap{
				padding-top:0;
				padding-bottom:0;
			}
		}
	}
}